body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    width: calc(25% - 20px); /* 4 продукта в ряду с учетом отступов */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product h2 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.product p {
    font-size: 1rem;
    margin: 5px 0;
}

.product .price {
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Стили для уведомления */
.notification {
    display: none;
    position: fixed;
    z-index: 1000;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    font-size: 0.9rem;
    opacity: 0;
    transform: translateY(20px);
    transition:
        opacity 0.4s ease,
        transform 0.4s ease;
}

.notification.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.notification.hide {
    opacity: 0;
    transform: translateY(20px);
}

.notification-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notification p {
    margin: 0;
    flex: 1;
}

.notification-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}

.notification-button:hover {
    color: #ccc;
}

/* Адаптивные стили */
@media (max-width: 1200px) {
    #product-list {
        justify-content: space-between;
    }

    .product {
        width: calc(33.333% - 20px); /* 3 продукта в ряду */
    }
}

@media (max-width: 768px) {
    .product {
        width: calc(50% - 20px); /* 2 продукта в ряду */
    }
}

@media (max-width: 480px) {
    .product {
        width: 100%; /* 1 продукт в ряду */
    }
}
